# Shared
POSTGRES_DB=ppv
POSTGRES_USER=ppvuser
POSTGRES_PASSWORD=ppvpass
POSTGRES_HOST=db
POSTGRES_PORT=5432
REDIS_URL=redis://redis:6379/0

# Django
DJANGO_SECRET_KEY=changeme
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=*
STRIPE_SECRET_KEY=sk_test_xxx
PAYMENT_PROVIDER=stripe

# FastAPI
FASTAPI_SECRET_KEY=changeme
